DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Producción, ejemplo:
# DJANGO_DEBUG=0
# DJANGO_ALLOWED_HOSTS=ardeleads.tudominio.com
# DJANGO_CSRF_TRUSTED_ORIGINS=https://ardeleads.tudominio.com

# PostgreSQL opcional:
# DATABASE_URL=postgres://usuario:password@localhost:5432/arde_leads

# Google Places
GOOGLE_PLACES_API_KEY=
GOOGLE_PLACES_FIELD_MASK=places.id,places.displayName,places.formattedAddress,places.shortFormattedAddress,places.location,places.nationalPhoneNumber,places.internationalPhoneNumber,places.websiteUri,places.googleMapsUri,places.rating,places.userRatingCount,places.primaryType,places.types,places.businessStatus
